
  <div fxLayoutAlign="center center">
    <mat-form-field fxFlex="400px">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
<div fxLayout="row wrap">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort fxFlex="1 1 100%">
  
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date</th>
  
        <td mat-cell *matCellDef="let element"> {{element.date | date }} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Calories Column -->
      <ng-container matColumnDef="calories">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Calories </th>
        <td mat-cell *matCellDef="let element"> {{element.calories | number}} </td>
      </ng-container>
    
      <!-- Duration Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
        <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
      </ng-container>
  
      <!-- State Column -->
      <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> State </th>
          <td mat-cell *matCellDef="let element"> {{element.state}} </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[1, 5, 10, 25, 100]" fxFlex="1 1 100%">
</mat-paginator>
</div>
