<section class="new-training" fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex.xs="100%" fxFlex="400px">
    <mat-card-title fxLayoutAlign="center">New Workout</mat-card-title>
    <mat-card-content fxLayoutAlign="center">
        <mat-form-field>
            <mat-select placeholder="Workout">
              <mat-option value="crunches">Crunches</mat-option>
              <mat-option value="touch-toes">Touch Toes</mat-option>
              <mat-option value="side-lounges">Side Lounges</mat-option>
            </mat-select>
          </mat-form-field>
    </mat-card-content>
    <mat-card-actions  fxLayoutAlign="center">
      <button type="submit" mat-button (click)="onStartTraining()">Start</button>
    </mat-card-actions>
  </mat-card>
</section>
