<mat-nav-list>
  <a class="nav-link" color="primary" mat-list-item routerLink="/" *ngIf="isAuth" (click)="onClose()">Home</a>
  <a class="nav-link" color="primary" mat-list-item routerLink="/training" *ngIf="isAuth" (click)="onClose()">Training</a>
  <a class="nav-link" color="primary" mat-list-item routerLink="/login" *ngIf="!isAuth" (click)="onClose()">Login</a>
  <a class="nav-link" color="primary" mat-list-item routerLink="/signup" *ngIf="!isAuth" (click)="onClose()">Signup</a>
  <a class="nav-link" color="primary" mat-list-item (click)="logout(); onClose()" *ngIf="isAuth">Logout</a>
</mat-nav-list>
