/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  margin: 0;
}





